:host {
    display: flex;
    flex-direction: column;
    align-self: stretch;
    min-height: 100%;
}

#container{
    display: flex;
    flex-direction: column;
    flex: 1;
    min-height: 100%;
    align-items: end;
    padding: 1rem;
    border-left: 1px solid var(--color-border);;
    .user-action{
        padding: 0.35rem 0.75rem;
        margin: 0.2rem;
        font-family: inherit;
        font-size: 1rem;
        font-weight: 500;
        font-style: normal;
        border: 1px solid var(--color-border);
        border-radius: 4px;
        background: var(--color-surface);
        color: var(--color-text-secondary);
        text-decoration: none;
        cursor: pointer;
    
        &:hover {
        opacity: 0.9;
        }
    }
}
